body{
    background-color:rgba(231.14,238.02,244.37,1);
}
            #__p__you_can_create {
                top: 10px;
                left: 0px;
                width: 286px;
                height: 70px;
                overflow: hidden;
                font-family: Poppins;
                font-size: 32px;
                text-align: left;
                padding-top: 100px;
                padding-left: 40px;
                color:#000000;
            }
             
          
         
                #__p__create_your_arts_and_explore_to_others_people_s_designs_and_art_with_artics {
                    top: 100px;
                    left: 85px;
                    width: 844px;
                    height: 230px;
                    overflow: hidden;
                    font-family: Poppins;
                    font-size: 48px;
                    text-align: left;
                    padding-left: 40px;
                    color:#000000;
                }
              
             
                    #subtext1 {
                        top: 508px;
                        left: 85px;
                        width: 736px;
                        height: 118px;
                        overflow: hidden;
                        font-family: Poppins;
                        font-size: 32px;
                        text-align: left;
                        padding-left: 40px;
                        color:#000000;
                    }
                
                        #rectangle_4 {
                            top: 10px;
                            left: 41px;
                            width: 133px;
                            height: 56px;
                            -ms-border-radius: 14px;
                            -o-border-radius: 14px;
                            -moz-border-radius: 14px;
                            -webkit-border-radius: 14px;
                            border-radius: 14px;
                            padding-left: 40px;
                            box-sizing: border-box;
                            position: relative;
                            background:rgba(36.34,113.6,229.5,1);
                        }
                         
                    
                            #__p__get_libary {
                                top: 15px;
                                left: -66px;
                                width: 102px;
                                height: 35px;
                                overflow: hidden;
                                font-family: Poppins;
                                font-size: 16px;
                                text-align: center;
                                position: relative;
                                padding-left: 40px;
                                color:#FFFFFF;
                            }
                                #rectangle5{
                                    top: -46px;
                            left: 200px;
                            width: 133px;
                            height: 56px;
                            -ms-border-radius: 14px;
                            -o-border-radius: 14px;
                            -moz-border-radius: 14px;
                            -webkit-border-radius: 14px;
                            border-radius: 14px;
                            padding-left: 40px;
                            position: relative;
                            box-sizing: border-box;
                            opacity: 10;
                            background:rgb(231.14,238.02,244.37,1);

                                }
                             
                                #discover{
                                    top: 15px;
                                left: -25px;
                                width: 102px;
                                height: 35px;
                                overflow: hidden;
                                font-family: Poppins;
                                font-size: 16px;
                                text-align: center;
                                position: absolute;
                                padding-left: 40px;
                                color:#000000;    

                                }

                             
                                #rectangle1{
    top: -412px;
	left: 635px;
	width: 230px;
	height: 360px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    padding-right: 40px;
    position: absolute;
    background:rgb(36, 88, 133);

                                }
                             
                                #rectangle2{
                                top: -412px;
	left: 900px;
	width: 190px;
	height: 115px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 0.5px solid rgba(0,0,0,.2);
    position: relative;
	background:rgba(249.69,247.61,247.61,1);
                                }
                            
                                #rectangle3{
    top: -390px;
	left: 900px;
	width: 190px;
	height: 305px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    position: relative;
	background:rgb(36, 88, 133);
                                }
                             
                                #thirtymillon{
top: -140px;
left: 62px;
width: 105px;
height: 44px;
overflow: hidden;
font-family: Poppins;
font-size: 32px;
text-align: left;
position:relative;
color:#000000;

                                }
                             
                                #explorer{
top: -52px;
left: 62px;
width: 105px;
height: 44px;
overflow: hidden;
font-family: Poppins;
font-size: 20px;
text-align: left;
position:relative;
color:#000000;

                                }
                        
        #twenty{
top: -9px;
left: 230px;
width: 105px;
height: 44px;
overflow: hidden;
font-family: Poppins;
font-size: 32px;
text-align: left;
position:relative;
color:#000000;
        }
     
        #subscriber{
            top: -9px;
left: 230px;
width: 150px;
height: 44px;
overflow: hidden;
font-family: Poppins;
font-size: 20px;
text-align: left;
position:relative;
color:#000000;

        }
     
        #frame2{
	top: 0px;
	left: 0px;
	width: 1366px;
	height: 580px;
    position: relative;
	background:rgba(0,0,0,1);
}
    
        #smallframe{

	top: 40px;
	left: 60px;
	width: 350px;
	height: 489px;
    -ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    position: relative;
	background:rgba(185.76,197.12,226.31,1);
}
    
        #smallframe1{
        top: -414px;
	left: 95px;
	width: 280px;
	height: 420px;
    -ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    position: relative;
	background:rgb(255, 255, 255);
        }

        #topics{
            left:130px;
            height:30px;
            width: 17px;
            position: inherit;
            font-family: poppins;
            top:-800px;
        }
     
        #button1{
            top: -795px;
	left: 130px;
	width: 40px;
	height: 20px;
	border-radius: 5px;
    position: relative;
    border-style: none;
	background:#2472E5;
    opacity: 0.50;
    font-family: poppins;
    font-size: 10px;



        }
   
        #button2{
            top: -795px;
	left: 140px;
	width: 45px;
	height: 20px;
	border-radius: 5px;
    position: relative;
    border-style: none;
	background:#2472E5;
    opacity: 0.25;
    font-family: poppins;
    font-size: 10px;
    text-align: left;


        }
     
        #button3{
            top: -795px;
	left: 150px;
	width: 45px;
	height: 20px;
	border-radius: 5px;
    position: relative;
    border-style: none;
	background:#2472E5;
    opacity: 0.25;
    font-family: poppins;
    font-size: 10px;

        }
     
        #button4{
            top: -795px;
	left: 160px;
	width: 40px;
	height: 20px;
	border-radius: 5px;
    position: relative;
    border-style: none;
	background:#000000;
    opacity: 0.1;
    font-family: poppins;
    font-size: 10px;


        }
     
     input[value^="Nude"]{
        font-family:poppins;
        color: #000000;
        opacity: 0.9;

     }
    
        input[value^="All"]{
            color:#000000;
            opacity: 1.0;
        }
     
        #line{
	top: -785px;
	left: 130px;
	width: 210px;
	height: 2px;
	background:#000000;
    opacity: 0.5;
    position: relative;
    border-radius: 1px;
}
    
    .containers{
        top: -790px;
	left: 110px;
	width: 170px;
	height: 80px;
	border-radius: 5px;
	background:#000000;
    position: relative;
    opacity: 0.5;
    font-family: poppins;
    font-size: 10px;
    padding: 20px;
    padding-top: 10px;
    margin: 20px;
    overflow: hidden;
    }

    #cont3{
        clip:rect(50px,20px,75px,50px);
        color:#0146ad;
        height: 5px;
    }

    #container_sub1{
        top: -1270px;
	left: 531px;
	width: 610px;
	height: 148px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 40px;
	text-align: left;
	letter-spacing: 1.2px;
    position: relative;
	color:#ffffff;
    }

    .bullets{
        top: -1300px;
	left: 537px;
	width: 10px;
	height: 10px;
	-ms-border-radius: 5px / 5px;
	-o-border-radius: 5px / 5px;
	-moz-border-radius: 5px / 5px;
	-webkit-border-radius: 5px / 5px;
	border-radius: 5px / 5px;
	background:rgba(36.34,113.6,229.5,1);
    position: relative;
    margin-top: 33px;
    }

    @font-face {
        font-family: "popmid";
        src: url(./Poppins-Regular.ttf);
    }
        .bullet_text{
            top: -1453px;
	left: 565px;
	width: 310px;
	height: 35px;
	overflow: hidden;
    font-family: popmid;
    font-weight: normal;
	font-size: 18px;
	text-align: left;
	color:#FFFFFF;
    position: relative;
    letter-spacing: 0.5px;
    margin: 2px;
    padding: 3px;
        }
     
        #learn{
    top: -1420px;
	left: 537px;
	width: 133px;
	height: 49px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
    border-style:none;
    position: relative;
	background:rgba(36.34,113.6,229.5,1);
        }
     
        #learn_more{
    top: -1462px;
	left: 553px;
	width: 126px;
	height: 40px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	text-align: left;
	color:#ffffff;
    position: relative;
        }
     
        #artworks{
            top: 40px;
	left: 450px;
	width: 507px;
	height: 88px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 40px;
	text-align: center;
    position: relative;
	color:#000000;
        }
.artwork_tabs{
	width: 379px;
    top: 30px;
	height: 214px;
    margin: 15px;
	background:rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    display: flex;
    float: left;
    display: inline;
    left: 50px;
}
.artwork_tabs img{
    width: 379px;
    height:214px;
    object-fit: cover;
    border-radius: 20px;
}
#tab10{
    top:900px;
	left: 50px;
	width: 580px;
	height: 365px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    background: #ffffff;
    position: relative;
    transform: rotate(-90deg);
}
#tab11{
    top: 408px;
	left: 550px;
	width: 758px;
	height: 404px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(217,217,217,1);
    position: relative;
    margin: 20px;
}
#user_tab_experience{
    top: 630px;
	left: 0px;
	width: 1440px;
	height: 607px;
	background:rgba(255,255,255,1);
    position: relative;
}
#user_sub1{
    top: 43px;
    left: 23%;
	width: 696px;
	height: 88px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 40px;
	text-align: left;
	color:#000000;
    padding-top: 30px;
    position: relative;

}
#user_tab2{
    top: 115px;
	left: 400px;
	width: 534px;
	height: 53px;
	overflow: hidden;
	font-family: Popmid;
	font-size: 24px;
	text-align: left;
	color:#788599;
    padding-top: 23px;
    position: absolute;

}
#experience_box{
    top: 0px;
	left: 100px;
	width: 1100px;
	height: 282px;
	background:rgba(36.34,113.6,229.5,1);
    border-radius: 30px;
    margin-top: 7%;
    position: relative;
}
#circle1{
    opacity:0.80000001192093;
	top: -300px;
	left: -59px;
	width: 416px;
	height: 379px;
	-ms-border-radius: 202px / 183.5px;
	-o-border-radius: 202px / 183.5px;
	-moz-border-radius: 202px / 183.5px;
	-webkit-border-radius: 202px / 183.5px;
	border-radius: 202px / 183.5px;
	border: 6px solid #ffffff;
	background:rgba(255,255,255,0.8);
    position: relative;
}
body{
    background-color:rgba(231.14,238.02,244.37,1);
}
.circle1 {
    height: 350px;
    width: 350px;
    background-color: #ffffff;
    opacity: 0.3;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left:30px;
    top: 30%;
    border: 6px solid rgb(247, 248, 249,.3);

  }
#circle2{
    height: 80px;
    width: 80px;
    justify-content: end;
    background-color:rgba(217,217,217,1);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left:155px;
    top:35%;
    border:8px solid #3424e6;;
}
#box_sub1{
    top: -240px;
	left: 488px;
	width: 119px;
	height: 35px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 16px;
	text-align: center;
    position: relative;
    color:#ffffff;
    opacity: .82;
}
#box_sub2{
    top: -220px;
	left: 488px;
	width: 618px;
	height: 134px;
	overflow: hidden;
	font-family: Popmedium;
	font-size: 20px;
	text-align: left;
    position: relative;
	color:#ffffff;
}
#plans_header{
   
	top: 3560px;
	left: 430px;
	width: 480px;
	height: 120px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 40px;
	text-align: center;
	color:#000000;
    position: absolute;
    line-height: 60px;
}
#header2{
    top: 3680px;
	left: 430px;
	width: 480px;
	height: 120px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 20px;
	text-align: center;
	color:#788599;
    position: absolute;
    line-height: 60px;

}
.plans_rectangle{
    position: absolute;
width: 580px;
height: 365px;
left: 0px;
top: 950px;
margin: 30px;
background:#D9D9D9;
border-radius: 20px;
position: relative;
display: flex;
float:left;
display: inline;
transform: rotate(-90deg);
}
#footer{
    position: absolute;
width: 1440px;
height: 675px;
left: 0px;
top: 4500px;

background: #000000;
}
#newsletter{
    position: absolute;
width: 1005px;
height: 175px;
left: 145px;
top: 4600px;

background: #2472E6;
border-radius: 30px;
}